<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2018. Cyber1.org
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cyber1.platoterm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/plato_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PLATOActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PLATONetworkService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PLATOSettingsActivity"
            android:label="@string/title_activity_platosettings"></activity>
    </application>

</manifest>